@media screen and (max-width:320px) {
    .login-form {
        width: 300px !important;
        /* padding: 0 1rem !important; */
    }

    .btn-login {
        width: 250px !important;
    }

    .loader-login {
        right: 27% !important
    }
}

@media screen and (min-width:321px) and (max-width:376px) {
    .login-form {
        width: 350px !important;
        /* padding: 0 1rem !important; */
    }

    .btn-login {
        width: 300px !important;
    }

    .loader-login {
        right: 27% !important
    }
}


@media screen and (min-width:377px) and (max-width:427px) {
    .login-form {
        width: 390px !important;
        /* padding: 0 1rem !important; */
    }

    .btn-login {
        width: 345px !important;
    }

    .loader-login {
        right: 27% !important
    }
}