@media screen and (max-width:320px) {
    .form {
        width: 250px !important;
    }
}

@media screen and (min-width:321px) and (max-width:376px) {
    .form {
        width: 300px !important;
    }
}


@media screen and (min-width:377px) and (max-width:427px) {
    .form {
        width: 345px !important;
    }
}