.animated-image {
    animation: animate 5s infinite ease-in-out;
}

@keyframes animate {
    0% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(-15px);
    }
}